**
!Dockerfile
!code/
!code/backend/
!code/backend/package.json
!code/backend/package-lock.json
!code/backend/prisma/
!code/backend/prisma/**
!code/backend/src/
!code/backend/src/**
!code/frontend/
!code/frontend/**
**/node_modules
**/dist
**/.env
**/.env.*
**/*.log
**/*.db
**/*.db-journal

!code/shared/
!code/shared/**
